<h1>show phone details</h1>
ID:<%= @phone.id %><br>
Brand:<%= @phone.pbrand %><br>
Model:<%= @phone.pmodel %><br>
<br>
<%= link_to "return", "/phones" %>
<%= link_to "edit", "/phones/#{@phone.id}/edit" %>
<%= link_to "delete", "/phones/#{@phone.id}",
  data: { 
    turbo_method: :delete,
    turbo_confirm: "Are you really sure?"
  }
%>
